.jumbotron {
    background-color: rgb(166,207, 213);
}

h1 {
    color:rgb(82, 43, 41);
    font-family: 'Montserrat', sans-serif;
    font-size: 900;
}

.card-header {
    background-color:rgb(74, 109, 124);
}

h2 {
    color:rgb(82, 43, 41);
    font-family: 'Montserrat', sans-serif;
    font-size: 300;
}

h3 {
    color:rgb(82, 43, 41);
    font-family: 'Montserrat', sans-serif;
    font-size: 200;
    font-style: italic;
}

.card-body {
    background-color: rgb(191, 209, 229);
}

.list-group {
    background-color: rgb(249, 199, 132);
}